<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Index page</h1>

    <div>
        <a sec:authorize="isAnonymous()" href="/login"><button>Logga in</button></a>

        <form sec:authorize="hasAuthority('GET')" th:action="@{/logout}" method="post">
            <button type="submit">Logga ut</button>
        </form>
    </div>

    <br/>
    <br/>

    <a href="/allpersonnel">Se alla personnel</a>
    <br/>
    <br/>


    <div sec:authorize="hasAuthority('POST')">
        <a href="/personnel"><button>Lägg till uppgifter</button></a>
    </div>






</body>
</html>