<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Index page</h1>
    <br/>
    <a href="/random">See random fact</a>
    <br/>
    <br/>

    <div sec:authorize="isAnonymous()">
        <a href="/register"><button>Registrera</button></a>
        <br/>
    </div>


    <div>
        <br/>
        <a sec:authorize="isAnonymous()" href="/login"><button>Logga in</button></a>

        <form sec:authorize="hasAuthority('GET')" th:action="@{/logout}" method="post">
            <button type="submit">Logga ut</button>
        </form>
    </div>
    <br/>

    <a href="/allpersonnel">Se alla personnel</a>
    <br/>
    <br/>


    <div sec:authorize="hasAuthority('POST')">
        <a href="/personnel"><button>Lägg till uppgifter</button></a>
    </div>
    <br/>
    <br/>

    <div sec:authorize="hasRole('USER')">
        <a href="/user"><button>Gå till användarsidan</button></a>
    </div>



</body>
</html>