<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ändra lösenord</title>
</head>
<body>
    <h2>Ändra ditt lösenord?</h2>

    <form th:action="@{/changePassword}" th:object="${password}" method="post">

        <label>Nuvarande lösenord:
            <input type="password" name="currentPassword" th:field="*{currentPassword}">
        </label>
        <br/>
        <div th:if="${#fields.hasErrors('currentPassword')}" class="error">
            <ul>
                <li th:each="err : ${#fields.errors('currentPassword')}" th:text="${err}"></li>
            </ul>
        </div>

        <label>Nytt lösenord:
            <input type="password" name="newPassword" th:field="*{newPassword}">
        </label>
        <br/>
        <div th:if="${#fields.hasErrors('newPassword')}" class="error">
            <ul>
                <li th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></li>
            </ul>
        </div>

        <button type="submit">Ändra</button>

    </form>

    <div>
        <span th:text="${status}"></span>
    </div>

</body>
</html>