<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>
</head>
<body>
<h1>Personnel page Add</h1>

    <form th:object="${personnel}" th:action="@{/personnel}" method="post" enctype="multipart/form-data">

        <label>Huvudbild
            <input type="file" name="imageFile" id="picture" class="file" placeholder="Bild" >
        </label>
        <br/>
        <br/>

        <label>Bilder
            <input type="file" name="imageFiles" id="pictures" class="file" placeholder="Bild" multiple >
        </label>

        <br/>
        <br/>

        <label>Förnamn:
            <input type="text" name="firstName" th:field="*{firstName}">
        </label>
        <br/>
        <br/>

        <label>Efternamn:
            <input type="text" name="lastName" th:field="*{lastName}">
        </label>
        <br/>
        <br/>


        <label>Försvarsgren:
            <input type="text" name="branch" th:field="*{branch}">
        </label>
        <br/>
        <br/>


        <label>Ursprungsland:
            <input type="text" name="countryOfOrigin" th:field="*{countryOfOrigin}">
        </label>
        <br/>
        <br/>




        <button type="submit">Lägg till</button>
    </form>

    <div th:if="${added}">
        <p th:text="${added}"></p>
    </div>

    <br/>

    <div>
        <ul>

            <li th:each="personnel, personnel2 : ${personnelList}">

                <span th:text="${personnel.firstName}"></span> <span> </span> <span th:text="${personnel.lastName}"></span>

                <img th:src="'data:image/jpeg;base64, ' + ${personnel.image}" style="max-width: 200px">

                <span th:each="image : ${personnel.images}">
                    <img th:src="'data:image/jpeg;base64, ' + ${image}" alt="image" style="max-width: 200px">
                </span>

                <form th:action="@{/personnel-info/{id}(id=${personnel.id})}" th:object="${personnel}" method="get">
                    <button type="submit">Se detaljer (id)</button>

                </form>

                <form th:action="@{/personnel-info}" th:object="${personnel}" method="post">

                    <input type="hidden" th:name="id" th:value="${personnel.id}">
                    <input type="hidden" th:name="firstName" th:value="${personnel.firstName}">
                    <input type="hidden" th:name="lastName" th:value="${personnel.lastName}">

                    <input type="hidden" th:name="rank" th:value="${personnel.rank}">
                    <input type="hidden" th:name="branch" th:value="${personnel.branch}">
                    <input type="hidden" th:name="homeAddress" th:value="${personnel.homeAddress}">
                    <input type="hidden" th:name="image" th:value="${personnel.image}">

                    <!-- parsing images directly such as:
                    <input type="hidden" th:name="images" th:value="${personnel.images}" >

                    will result in incorrect parsing which subsequently will not render them properly.

                    thus a for each loop is used to parse each image individually

                    -->
                    <span th:each="image : ${personnel.images}">
                        <input type="hidden" th:name="images" th:value="${image}">
                    </span>

                    <button type="submit">Se detaljer (personnel)</button>

                </form>

            </li>

        </ul>
    </div>


</body>
</html>