<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>
</head>
<body>
<h1>Personnel page Add</h1>

    <form th:object="${personnel}" th:action="@{/personnel}" method="post" enctype="multipart/form-data">

        <input type="file" name="imageFile" id="picture" class="file" placeholder="Bild" >
        <input type="file" name="imageFiles" id="pictures" class="file" placeholder="Bild" multiple >

        <label>Förnamn:
            <input type="text" name="firstName" th:field="*{firstName}">
        </label>
        <br/>
        <br/>

        <label>Efternamn:
            <input type="text" name="lastName" th:field="*{lastName}">
        </label>
        <br/>
        <br/>


        <label>Försvarsgren:
            <input type="text" name="branch" th:field="*{branch}">
        </label>
        <br/>
        <br/>


        <label>Ursprungsland:
            <input type="text" name="countryOfOrigin" th:field="*{countryOfOrigin}">
        </label>
        <br/>
        <br/>




        <button type="submit">Lägg till</button>
    </form>

    <div th:if="${added}">
        <p th:text="${added}"></p>
    </div>

    <br/>

    <div>
        <ul>

            <li th:each="personnel : ${personnelList}">

                <span th:text="${personnel.firstName}"></span>

                <span th:each="image : ${personnel.images}">
                    <img th:src="'data:image/jpeg;base64, ' + ${image}" alt="image" style="max-width: 200px">
                </span>

                <img th:src="'data:image/jpeg;base64, ' + ${personnel.image}" style="max-width: 200px">
            </li>

        </ul>
    </div>


</body>
</html>