<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Personnel</title>
</head>
<body>
    <h1>All personnel</h1>

    <ul>
        <li th:each="personnel : ${personnelList}">

            <span th:text="${personnel.firstName}"></span>
            <img th:src="'data:image/jpeg;base64, ' + ${personnel.image}" style="max-width: 250px">

            <span th:each="image, index : ${personnel.images}">
                <img th:if="${index.index == 0}" th:src="'data:image/jpeg;base64, ' + ${image}" style="max-width: 250px" >
            </span>

            <form sec:authorize="hasRole('ADMIN')" th:action="@{/personnel-info}" th:object="${personnel}" method="post" >
                <input type="hidden" th:name="id" th:value="${personnel.id}">

                <button type="submit">Redigera</button>
            </form>

        </li>
    </ul>

</body>
</html>