<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
<h1>Test Page</h1>

<!-- Country Selection Dropdown -->
<form th:action="@{/getPersonnel}" method="get">
    <label for="country">Välj land:</label>
    <select name="country" id="country">
        <option value="ALL" th:selected="${selectedCountry == 'ALL'}">ALL</option>
        <option th:each="index : ${countries}" th:value="${index}" th:text="${index}"></option>
    </select>

    <label for="pageSize">Hur många resultat per sida:</label>
    <select name="pageSize" id="pageSize">
        <option value="3" th:selected="${pageSize == 3}">3</option>
        <option value="4" th:selected="${pageSize == 4}">4</option>
        <option value="5" th:selected="${pageSize == 5}">5</option>
        <option value="6" th:selected="${pageSize == 6}">6</option>
    </select>

    <button type="submit">Filtrera</button>
</form>


<ul>
    <li th:each="personnel : ${content}">
        <p th:text="${personnel.firstName}"></p>
        <p th:text="${personnel.countryAllegiance}"></p>
        <img th:src="'data:image/jpeg;base64, ' + ${personnel.image}" style="max-width: 250px">

        <form sec:authorize="hasRole('ADMIN')" th:action="@{/personnel-info}" th:object="${personnel}" method="post" >
            <input type="hidden" th:name="id" th:value="${personnel.id}">

            <button type="submit">Redigera</button>
        </form>
    </li>
</ul>

<!-- Pagination Controls -->
<div>

    <div>
        <!-- Previous Page Button -->
        <a th:if="${currentPage > 0}"
           th:href="@{/getPersonnel(page=${currentPage - 1}, country=${selectedCountry}, pageSize=${pageSize})}">Föregående</a>

        <!-- Next Page Button -->
        <a th:if="${currentPage < totalPages - 1}"
           th:href="@{/getPersonnel(page=${currentPage + 1}, country=${selectedCountry}, pageSize=${pageSize})}">Nästa</a>
    </div>

    <div th:if="${totalPages > 1}">
        <!-- Page Number Buttons -->
        <span th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{/getPersonnel(page=${pageNum}, country=${selectedCountry}, pageSize=${pageSize})}"
               th:text="${pageNum + 1}"></a>
            <span th:if="${pageNum < totalPages - 1}"> | </span>
        </span>
    </div>
</div>

</body>
</html>
